div.app-content {
  display: flex;
}

div.search-area {
  width: 50%;
}

div.dtable-area {
  width: 50%;
}

div.add-btn-area {
  text-align: right;
  clear: both;
}

button.add-to-dt {
  cursor: pointer;
}

div.add-btn-area .added {
  color: blue;
}

.added i.material-icons {
  font-size: 15px;
}
