body, button {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
    "Helvetica Neue",
    Arial,
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

div.app-content {
  display: flex;
}

div.search-area {
  width: 50%;
}

div.dtable-area {
  width: 50%;
}

div.add-btn-area {
  text-align: right;
  clear: both;
}

button.add-to-dt {
  cursor: pointer;
}

div.add-btn-area .added {
  color: blue;
}

.added i.material-icons {
  font-size: 15px;
}
