<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>Custom Search</title>
  <script async src="https://cse.google.com/cse.js?cx=<%= process.env.SEARCH_ENGINE_ID %>"></script>
  <script src="/js/jitbox.js"></script>
</head>

<body>
  <div class="gcse-search"></div>
  <div class="gcse-searchresults"></div>
</body>

</html>
