<!DOCTYPE html>

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Custom Search</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-flash-1.6.5/b-html5-1.6.5/datatables.min.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-flash-1.6.5/b-html5-1.6.5/datatables.min.js"></script>
  <script src="/js/script.js"></script>
  <script async src="https://cse.google.com/cse.js?cx=<%= process.env.SEARCH_ENGINE_ID %>"></script>
</head>

<body>
  <div class="app-content">
    <div class="search-area">
      <div class="gcse-search"></div>
      <div class="gcse-searchresults"></div>
    </div>
    <div class="dtable-area">
      <table id="dtable" class="compact cell-border">
        <thead>
          <tr>
            <th>Query</th>
            <th>Title</th>
            <th>URL</th>
            <th>Breadcrumbs</th>
            <th>Article Date</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</body>

</html>
